# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
JWT_SECRET_KEY ="secret key"
FRONTEND_URL="url"
stripe.api_key = "sk_test_51RhwLz5cB8ZqvbKAzvqOWcpQrnc3fYV6IOwTYDC0LUQmnaFC9wkA1fworYeiktPbTkKuFCnxI3sHwA20PEp9x4vF00K97kpAkD"


# Front-End Variables
VITE_BASENAME=/
#VITE_BACKEND_URL=

#mail provider config
SMTP_ADDRESS = "smtp.gmail.com"
SMTP_PORT = 465
EMAIL_ADDRESS= "email"
EMAIL_PASSWORD = "password"